.likeList_box {
  width: 80%;
  margin: 0 auto;
  padding: 40px;
}
.likeList_box .title {
  font-size: 28px;
  font-weight: bold;
}
.likeList_box .count {
  margin-top: 24px;
  margin-bottom: 12px;
  color: #aaa;
  font-size: 16px;
}

.likeList_box table {
  width: 100%;
  border-collapse: collapse;
}
.likeList_box table input {
  width: 16px;
  height: 16px;
  border-radius: 0;
}

.likeList_box th {
  height: 50px;
  background-color: #eee;
}
.likeList_box td {
  height: 70px;
}
.likeList_box th,
.likeList_box td {
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.likeList_box table td:nth-of-type(2) {
  text-align: left;
}
.likeList_box table td:nth-of-type(2) > div {
  display: flex;
  gap: 24px;
}

.likeList_box table img {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}
.likeList_box table img,
.likeList_box table span {
  cursor: pointer;
}
.likeList_box table span {
  font-size: 18px;
}
.likeList_box .likeList_btn {
  padding: 20px 0px;
  display: flex;
  gap: 14px;
}
.likeList_btn button {
  line-height: 14px;
  padding: 8px;

  font-size: 12px;
  font-weight: bold;

  outline: none;
  cursor: pointer;
}
.likeList_btn .delete {
  color: #555;
  border: 1px solid #555;
  background-color: transparent;
}
.likeList_btn .add_basket {
  color: #fff;
  border: none;
  background-color: #555;
}
