.tab {
  display: flex;
}
.tab > div {
  width: 100%;
  line-height: 60px;

  font-size: 20px;
  font-weight: bold;
  text-align: center;

  background-color: white;

  cursor: pointer;
}
.tab > div:first-of-type {
  background-color: #444;
  color: white;
}
